<?xml version="1.0" encoding="UTF-8"?>
<settings>
<channel>
<number>0</number>
</channel>
<channel>
<number>8</number>
</channel>
<channel>
<number>1</number>
</channel>
<channel>
<number>9</number>
</channel>
<channel>
<number>2</number>
</channel>
<channel>
<number>10</number>
</channel>
<channel>
<number>3</number>
</channel>
<channel>
<number>11</number>
</channel>
<channel>
<number>4</number>
</channel>
<channel>
<number>12</number>
</channel>
<channel>
<number>5</number>
</channel>
<channel>
<number>13</number>
</channel>
<channel>
<number>6</number>
</channel>
<channel>
<number>14</number>
</channel>
<channel>
<number>7</number>
</channel>
<channel>
<number>15</number>
</channel>
<autostart>0</autostart>
<frequency>250</frequency>

</settings>
